<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.toy.springboot.character.CharacterMapper">
	<resultMap type="com.toy.springboot.character.Character"
		id="character">
		<result property="character_id" column="character_id" />
		<result property="character_name" column="character_name" />
		<result property="character_level" column="character_level" />
		<result property="sort_id" column="sort_id" />
		<result property="member_id" column="member_id" />
	</resultMap>
	<insert id="insert"
		parameterType="com.toy.springboot.character.Character">
		insert into LAR_CHARACTER 
		values (LAR_SEQ_CHARACTER.nextval, #{character_name}, #{character_level}, LAR_SEQ_CHARACTER.currval, #{member_id})
	</insert>
	<select id="select" parameterType="String"
		resultType="com.toy.springboot.character.Character">
		select * 
		from LAR_CHARACTER
		where character_id=#{character_id}
	</select>
	<select id="selectListByMember_id" parameterType="String"
		resultMap="character">
		select * 
		from LAR_CHARACTER 
		where member_id=#{member_id} 
		order by sort_id
	</select>
	<update id="update"
		parameterType="com.toy.springboot.character.Character">
		update LAR_CHARACTER 
		set	character_name=#{character_name}, character_level=#{character_level}
		where character_id=#{character_id}
	</update>
	<update id="updateSortId" parameterType="com.toy.springboot.Sort">
		update LAR_CHARACTER 
		set	sort_id=#{sort_id2}
		where sort_id=#{sort_id1}
	</update>
	<delete id="delete" parameterType="String">
		delete from LAR_CHARACTER
		where character_id=#{character_id}
	</delete>
	<select id="selectSeqCurrval" resultType="int">
		select LAR_SEQ_CHARACTER.currval from dual
	</select>
</mapper>