<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.toy.springboot.memo.MemoMapper">
	<resultMap type="com.toy.springboot.memo.Memo" id="memo">
		<result property="member_id" column="member_id" />
		<result property="memo_content" column="memo_content" />
	</resultMap>
	<insert id="insert" parameterType="String">
		insert into LAR_MEMO values
		(#{member_id}, '')
	</insert>
	<select id="select" parameterType="String"
		resultType="com.toy.springboot.memo.Memo">
		select * from LAR_MEMO where member_id=#{member_id}
	</select>
	<update id="update"
		parameterType="com.toy.springboot.memo.Memo">
		update LAR_MEMO 
		set memo_content=#{memo_content}
		where member_id=#{member_id}
	</update>
</mapper>