.main {
    white-space: nowrap;
    overflow-x: scroll;
}
h1.title {
    margin: 20px 0px 0px 0px;
}
table {
    border: 5px solid orange;
    border-collapse: collapse;
}
th,
td {
    border-top: 1px solid black;
    padding: 15px 8px;
    text-align: center;
    vertical-align: middle;
}
.record {
    font-size: 20px;
    width: 1000px;
    max-width: 1000px;
    margin: 20px 0px;
}
.record input[type="checkbox"] {
    width: 22px;
    height: 22px;
}
.character_name {
    min-width: 100px;
}
.homework_name {
    min-width: 100px;
}
.dh {
    background-color: rgba(0, 0, 0, 0.1);
}
.wh {
    background-color: rgba(0, 0, 0, 0.2);
}
button.delete_btn,
button.left,
button.right,
button.up,
button.down {
    font-size: 14px;
    background-color: #fff;
}

.add_form {
    border-radius: 1rem;
}

#memo_content {
    width: 100%;
    height: 300px;
    resize: none;
}

.character_level::before {
    content: "Lv. ";
}

.pointer {
    cursor: pointer;
}
